* {
    box-sizing: border-box;
}

:root {
    --green: #297786;
    --darkblue: #021E43;
    --white: #fff;
    --gray: #EDEDED;
    --black: #000;

    scroll-behavior: smooth;
}

html {
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(180deg, #297786 0%, #021E43 100%);
}

.header,
.links,
.footer {
    margin: 20px 30px;
}

/* HEADER */

.header {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.header__photo {
    max-width: 150px;
    border-radius: 100%;
    /* box-shadow: 0px 5px 15px rgba(0,0,0,0.5); */
}

.header__name {
    border: 1px solid black;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    color: var(--gray);
}

.header__job {
    border: 1px solid black;
    font-size: 18px;
    font-weight: 500;
    color: var(--gray);
}

/* LINKS */

.links {
    border: 1px solid black;
}

.links__container {
    border: 1px solid black;
    display: flex;
    
    
}

.links__list {
    border: 1px solid black;
}

.links__item {
    border: 1px solid black;
    background: var(--gray);
}