* {
    box-sizing: border-box;
}

:root {
    --green: #297786;
    --darkblue: #021E43;
    --white: #fff;
    --gray: #EDEDED;
    --black: #000;

    scroll-behavior: smooth;
}

html {
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(180deg, #297786 0%, #021E43 100%);
}

.header,
.links,
.footer {
    margin: 50px 30px;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.header__photo {
    max-width: 150px;
    border-radius: 100%;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}

.header__name {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    color: var(--gray);
}

.header__job {
    font-size: 18px;
    font-weight: 500;
    color: var(--gray);
}

/* LINKS */

.links {
    margin-top: 50px;
}

.links__item {
    background: var(--gray);
    color: var(--green);
    margin: 20px 0;
    padding-left: 50px;
    height: 42px;
    font-size: 18px;
    font-weight: 500;   
    border-top-left-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
}

.links__image {
    margin: 0 15px;
}

.footer {
    color: var(--gray);
    display: flex;
    justify-content: center;
}